.animate {
    position: absolute;
    perspective: 800px;
    transform: scale(2);
}

@keyframes cube {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.cube {
    width: 2em;
    margin: 1.5em auto;
    transform-style: preserve-3d;
    animation: cube 5s linear infinite;
}

.side {
    position: absolute;
    width: 2em;
    height: 2em;
    background: rgba(100, 100, 100, 0.5);
}

.front {
    transform: translateZ(1em) translateY(-1em);
    background-color: #00ccff;
}

.top {
    transform: rotateX(90deg) translateZ(2em);
    background-color: #99ff99;
}

.right {
    transform: rotateY(90deg) translateZ(1em) translateY(-1em);
    background-color: #ff99ff;
}

.left {
    transform: rotateY(-90deg) translateZ(1em) translateY(-1em);
    background-color: #ffff99;
}

.bottom {
    transform: rotateX(-90deg) translateZ(0em);
    background-color: #cc99ff;
}

.back {
    transform: rotateY(-180deg) translateZ(1em) translateY(-1em);
    background-color: #ff9900;
}